.Main-paper {
  padding: 3rem;
}

.MuiPaper-root  {
  background-color: azure
}

.MuiListItem-root:hover {
  background-color: rgb(188, 209, 209);
  cursor: pointer;
  transition: .5s
}

.Pagination {
  margin-bottom: 1.5rem;
}