.Weather_card {
  flex: 3;
}

.Weather_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Weather_description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.Back-button_container {
  display: flex;
  margin-bottom: 2rem;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .Container {
    display: flex;
    flex-direction: column;
  }
}
